@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(7, 97, 214);
}

.container{
    background: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.wrapper .topic{
    width: 95%;
    text-align: center;
    word-spacing: 2px;
    margin: 10px;
    background: rgb(240, 215, 215);
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.wrapper .textarea{
    margin: 10px;
    width: 95%;
}

.wrapper .textarea .content{
    width: 95%;
    background: rgb(241, 237, 237); 
    border-radius: 20px;
    text-align:center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    height: 300px
}

.wrapper .button button{
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    border: none;
    background: rgb(7, 97, 214);
    color: white;
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.wrapper .button button:hover{
    background: rgb(23, 110, 224);
}
